<!DOCTYPE html>
<html>

<head>
    <title>Welcome to Nunchuk</title>
    <link rel="stylesheet" type="text/css" href="css/nunchuk.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome to Nunchuck</h1>
                <p>Nunchuk's task automatation and built in webserver makes front-end web interative and fun! Out-of-the-Box featuers include:</p>
                <ul>
                    <li>Twitter Bootstrap</li>
                    <li>Less Compiler</li>
                    <li>Autoprefixer</li>
                    <li>Livereload</li>
                    <li>Express Web Server</li>
                    <li>Gulp Task Manager</li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.js"></script>
</body>

</html>
